<ion-header>

  <ion-navbar>
    <ion-title>{{product.name}}</ion-title>

    <ion-buttons end>
      <button
        ion-button
        icon-only
        (click)="addPicture()">
        <ion-icon name="camera"></ion-icon>
      </button>

      <button
        ion-button
        icon-only
        (click)="presentEdit()">
        <ion-icon name="brush"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let picture of product.pictures">
      <ion-thumbnail item-start>
        <img [src]="picture.name">
      </ion-thumbnail>

      <p>{{picture.dateAdded}}</p>

      <button
        *ngIf="picture.text"
        clear
        (click)="viewText(picture)">
        View Text
      </button>

      <button
        item-end
        ion-button
        clear
        (click)="scanPicture(picture)">
        Scan
      </button>

      <button
        item-end
        ion-button
        icon-only
        clear
        color="danger"
        (click)="removePicture(picture)">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item>
  </ion-list>
</ion-content>
